@import url('https://fonts.cdnfonts.com/css/galactic-storm');

*{
  font-family: 'Galactic Storm Halftone', sans-serif;
}
body {
  background-color: black;
}
header {
  text-align: center;
  font-size: 70px;
  color: white;
}

.score {
  display: flex;
  justify-content: center;
  font-size: 24px;
  text-align: center; 
  align-items: center;
}

.score h1 {
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.score p {
  font-size: 24px;
  padding: 10px; /* 텍스트와 테두리 사이의 여백 설정 */
  border: 1px solid white; /* 테두리 스타일 설정 */
  width: 150px; /* 원하는 너비 설정 */
  text-align: center; /* 가운데 정렬 */
  background-color: white;
  
}
.score p:nth-of-type(1) {
  color: green;
}

.score p:nth-of-type(2) {
  color: red;
}

.box{
  border: 1px solid black;
  width: 500px;
  height: 600px; /* 고정 높이 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px; /* 박스 간 간격 추가 */
}

.item-img {
  width: 400px;
  height: 400px; /* 이미지 크기 고정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 박스에 맞춤 */
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* 두 main div 간 간격 추가 */
  position: relative;
}

.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid white;
  color: white;
}

button{
  
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgb(236, 236, 236);
  border-radius: 50% 50%;
  cursor: pointer;
  margin-left: 20px;
  font-size: 30px;
  transition: 0.3s;
}
button:hover{
  scale: 1.1;
}

.Previous-btn{
  display: inline-block;
  text-align: center;
margin:10px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
  text-decoration: none;
  font-size: 40px;
}
.Previous-btn:active {
box-shadow: none;
position: relative;
top: .2em;
}
.Previous_page {
  position: absolute;
  left: 0;
}

